<a href="https://colab.research.google.com/github/AxoyTO/ML-DS-Python-Studies/blob/master/Python_Basics_Introduction-To-Data-Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip3 install ColabTurtle

Collecting ColabTurtle
  Downloading ColabTurtle-2.1.0.tar.gz (6.8 kB)
Building wheels for collected packages: ColabTurtle
  Building wheel for ColabTurtle (setup.py) ... done
  Created wheel for ColabTurtle: filename=ColabTurtle-2.1.0-py3-none-any.whl size=7655 sha256=71106f50de9b5eee7aacafec014b02b54a2745297fdf5aebc1ae1d1edb054848
  Stored in directory: /root/.cache/pip/wheels/0d/ab/65/cc4478508751448dfb4ecb20a6533082855c227dfce8c13902
Successfully built ColabTurtle
Installing collected packages: ColabTurtle
Successfully installed ColabTurtle-2.1.0

In [ ]:
from ColabTurtle.Turtle import *
initializeTurtle() #1
speed(10) #2
pensize(2) #3

right(90) #4
forward(100) #5
right(90) #6
forward(100) #7
right(90) #8
forward(100) #9
right(90) #10
forward(100) #11

right(60) #12
forward(57) #13
right(60) #14
forward(20) #15

left(120) #16
forward(20) #17
right(90) #18
forward(20) #19
right(90) #20
forward(20) #21
forward(11) #22
left(60) #23
forward(14) #24

penup() #25
forward(50) #26

In [ ]:
str = input()
print(len(str))

Hello World!
12

In [ ]:
str = input()
print(str[::-1])

Hello World!
!dlroW olleH

In [ ]:
str = input()
x = str.split("\"")
print(x[1])

Hel"lo Wor"ld!
lo Wor

In [ ]:
num = eval(input())
print(num*2)

7
14

In [ ]:
a = list(map(int,input().strip().split()))[:2]
print(a[1], a[0])

3254543 793423410
793423410 3254543

In [ ]:
mail = input()
login = mail.split("@")[0]
print(login)

ivan@lenta.ru
ivan

In [ ]:
num = input()
char_to_delete="()- "
for c in char_to_delete:
  num = num.replace(c, "") 
print(num)

+7 (812) 134-12-324
+781213412324

In [ ]:
str = input().replace(" ", "").lower()
print("It is a palindrome") if str == str[::-1] else print("It is not a palindrome")

f AoAO  AF
It is a palindrome

In [ ]:
num = ""
for i in range(1,124):
  if not '9' in "{}".format(i):
    num += "{}".format(i)

print(num)

12345678101112131415161718202122232425262728303132333435363738404142434445464748505152535455565758606162636465666768707172737475767778808182838485868788100101102103104105106107108110111112113114115116117118120121122123

In [ ]:
num = ""
for i in range(1,124):
  num += "{}".format(i)
num = num.replace("9", "")
print(num)

12345678101112131415161718120212223242526272823031323334353637383404142434445464748450515253545556575856061626364656667686707172737475767778780818283848586878880123456781001011021031041051061071081011011111211311411511611711811120121122123

In [ ]:
with open("input.txt", "w") as f:
  f.write("3\nDania\nPetya\nEgor\n13 oct\n28 mar\n26 feb")

In [ ]:
with open("studygroup.txt", "w") as f:
  f.write("Dima Petya Sasha Misha Egor")

In [ ]:
with open("input.txt", "r") as f:
  s = f.read()
k = s.split(" ")
for i in range(0,len(k)):
  k[i] = k[i][::-1]
s = " ".join(k)
print(s)

отЧ еокат ьнесо - отэ обен

In [ ]:
with open("input.txt", "r") as f:
  s = f.readlines()
for i in s:
  if "ё" in i:
    print(i[:-1])

['В лесу родилась ёлочка,\n', 'В лесу она росла,\n', 'Зимой и летом стройная, зелёная была']
В лесу родилась ёлочка,
Зимой и летом стройная, зелёная был

In [ ]:
k = []
with open("input.txt", "r") as f:
  s = f.readlines()
for i in s:
  k = i.split()
  k = k[::2]
  print(" ".join(k))

Мне привезли товар в плохом состоянии.
Плата разбита
Я хочу вернуть деньги.

In [ ]:
s = []
bd = []
with open("input.txt", "r") as f:
  n = f.readline()
  for i in range(int(n)):
    s.append(f.readline()[:-1])
  for i in range(int(n)-1):
    bd.append(f.readline()[:-1])
  bd.append(f.readline())
print(n)
print(s)
print(bd)
with open("output.txt", "w") as f:
  for i in range(int(n)):
    f.write(s[i] + "\t" + bd[i] +"\n")

3

['Dania', 'Petya', 'Egor']
['13 oct', '28 mar', '26 feb']

In [ ]:
from itertools import combinations
with open("studygroup.txt", "r") as f:
  s = f.read()
c = [' '.join(i) for i in combinations(list(s.split()),3)]
for i in c:
   print("1: " + i.split()[0] + " 2: " + i.split()[1] + " 3: " + i.split()[2])

1: Dima 2: Petya 3: Sasha
1: Dima 2: Petya 3: Misha
1: Dima 2: Petya 3: Egor
1: Dima 2: Sasha 3: Misha
1: Dima 2: Sasha 3: Egor
1: Dima 2: Misha 3: Egor
1: Petya 2: Sasha 3: Misha
1: Petya 2: Sasha 3: Egor
1: Petya 2: Misha 3: Egor
1: Sasha 2: Misha 3: Egor

# 4.3. Перевод из двоичной системы счисления в десятичную

In [ ]:
with open("input.txt", "w") as f:
  f.write("1 2 3")

In [ ]:
with open("input.txt", "r") as f:
  num = f.read()
n = 0
new_num = 0
for i in num[::-1]:
  new_num += int(i)*2**n
  n+=1
print(new_num)

255

# 4.4. Вычисление дроби

In [ ]:
from fractions import Fraction

l=[]
with open("input.txt", "r") as f:
  for i in range(2):
    l.append(f.readline()[:-1])
  l.append(f.readline())
an = int(l[0].split(" ")[0])
ad = int(l[0].split(" ")[1])
bn = int(l[1].split(" ")[0])
bd = int(l[1].split(" ")[1])
cn = int(l[2].split(" ")[0])
cd = int(l[2].split(" ")[1])

a = Fraction(an,ad)
b = Fraction(bn,bd)
c = Fraction(cn,cd)

s = Fraction(b,a)
m = Fraction(b,a+c)
n = Fraction(c,c-a)

print("{:.4f}".format(float(s+m-n)))

4.4065

# 4.5. Сумма последовательности чисел

In [ ]:
l = []
while(1):
  k = int(input())
  if k == 0:
    break
  l.append(k)

if l:
  print(len(l),sum(l))
else:
  print(0, 0)

0
0 0

# 4.6. Элемент геометрической прогрессии

In [ ]:
b1,q,a = map(float,input().split())
n = 1
b = b1*pow(q,n-1)
while(b<a):
  b = b*q
  n = n+1
print(n)

1 2 3
3

# 4.7. Банковский вклад*

In [ ]:
s = str(input()).split()
amount = int(s[0])
period = int(s[1])
rate = float(s[2])
labels = ("Месяц", "Сумма на вкладе", "Начисление")
with open("output.csv", "w") as csv_file:
  print(*labels, sep=',', file=csv_file)
  for i in range(12*period):
    month = i+1
    accrual = (amount*rate*1/12)/100
    amount += accrual
    print(f"{month},{amount:0.2f},{accrual:0.2f}", file=csv_file)

1000000 2 10

# 5.3. Две команды

In [ ]:
with open("weights.txt", "w") as f:
  print("A 1.5\nB 2.5\nC 3.5\nD 4.5\nE 6.5\nF 7.5\nG 8.5\nH 9.5\nI 10.5\nJ 11.5\nK 12.5\nL 13.5\nM 14.5\nN 15.5\nO 16.5\nP 17.5\nQ 18.5\nR 19.5\nS 20.5\nT 21.5\nU 22.5\nV 23.5", file=f, end="")

In [ ]:
players = {}
with open("weights.txt", "r") as f:
  a = f.read()
a = a.split()
keys = a[::2]
vals = a[1::2]
for i in range(len(vals)):
  vals[i] = float(vals[i])
for i in range(len(keys)):
  players[keys[i]] = vals[i]

players = dict(sorted(players.items(), key=lambda item: item[1], reverse=True))
keys = list(players.keys())
vals = list(players.values())

team1= keys[::2]
weights1 = vals[::2]
team2 = keys[1::2]
weights2 = vals[1::2]


with open("team.txt","w") as f:
  for i in range(len(team1)):
    print(team1[i], weights1[i], file=f)

  for i in range(len(team2)):
    print(team2[i], weights2[i], file=f)

# 5.4. Неопубликованный шедевр

In [ ]:
with open("poe_unpublished.txt", "w", newline='') as f:
  print("I was angry with my friend", file = f)
  print("I told my wrath my wrath did end", file=f)
  print("I was angry with my foe", file=f)
  print("I told it not my wrath did grow", file=f)

In [ ]:
a = []
with open("poe_unpublished.txt", "r", newline="") as f:
  num_lines = sum(1 for line in f)
  f.seek(0)
  for line in f:
    a.append(line.rstrip())
nl = []

paragraph = []

for i in a:
  words = i.split()
  word_len = [len(i) for i in words]
  total_words_in_each_string = sum(1 for i in words)
  paragraph.append([i, total_words_in_each_string])

paragraph = sorted(paragraph, key = lambda x: x[1])

with open("poe_decode_attempt.txt", "w") as f:
  for sentence in paragraph:
    words = sentence[0].split()
    word_len = [len(i) for i in words]
    #print(words)
    ult = []
    for i in range(len(words)):
      ult.append([words[i],word_len[i]])
    ult = sorted(ult, key = lambda x: x[1])
    st = ""
    for i in range(len(ult)):
      st += ult[i][0]
      if i != len(ult)-1:
        st += " "
    print(st, file=f)

# 5.5. Транспонирование

In [ ]:
with open("med_research.txt", "w") as f:
  f.write("1 2 3 4 5\n6 7 8 9 10\n11 12 13 14 15")

In [ ]:
data = []
with open("med_research.txt", "r") as f:
  for line in f:
    data.append(line.rstrip())
for i in range(len(data)):
  data[i] = data[i].split()

with open("output.txt", "w") as f:
  for i in range(len(data[0])):
    for j in range(len(data)):
      print(data[j][i], end=" ", file =f)
    print(file=f)

In [ ]:
import os
if os.path.exists("calls.txt"):
  os.remove("calls.txt")
else:
  print("The file does not exist")

# **5.6. Логирование звонков**

In [ ]:
with open("the_calls.txt", "w") as f:
  f.write("2021.12.12	3	B	+79090329400\n2019.10.03	18	A	+79999995454\n2020.05.04	13	B	+72352452532\n2020.05.04	4	A	+79023987567\n")

In [ ]:
with open("the_calls.txt", "r") as f:
  a = f.read()
data_a = []
data_b = []
a = a.split()
for i in range(0, len(a), 4):
  if a[i+2] == "A":
    data_a.append([a[i], a[i+1], a[i+2], a[i+3]])
  if a[i+2] == "B":
    data_b.append([a[i], a[i+1], a[i+2], a[i+3]])

data_a = sorted(data_a, key = lambda x: x[1])
data_b = sorted(data_b, key = lambda x: x[1])

with open("calls.txt", "w") as f:
  for i in range(len(data_a)):
    print("\t".join(data_a[i]), file=f)
  for i in range(len(data_b)):
    print("\t".join(data_b[i]), file=f)

In [ ]:
with open("the_calls.txt", "r", encoding="utf-8") as f, open("calls.txt", "w", encoding="utf-8") as calls:
	print(*sorted([x.strip() for x in f.readlines()], 
               key = lambda x: (x.split("\t")[2], -int(x.split('\t')[1]))), sep = "\n", file = calls)

# 6. Частотный Анализ

# 6.4. Наиболее часто встречающаяся цифра

In [ ]:
def most_frequent(List):
    counter = 0
    num = List[0]
     
    for i in List:
        curr_frequency = List.count(i)
        if(curr_frequency> counter):
            counter = curr_frequency
            num = i
 
    return num

num = int(input())
num = [int(i) for i in str(num)]
print(most_frequent(num))

2023
2

# 6.5. Все виды животных

In [ ]:
with open("input.txt", "w") as f:
  f.write("7910 leopard male Leo 04.06.2001 05.15.2010\n9315 orangutan male Hiha 01.04.2004 03.24.2012\n2226 leopard female Lia 07.28.2007 08.24.2019")

In [ ]:
lines = []
with open("input.txt", "r") as f:
  for line in f:
    lines.append(line.rstrip())
result = []
for i in lines:
  string = i
  string = string.split()
  result.append(string[1])
for i in range(0, len(result)-1):
  for j in range(i, len(result)):
    if(len(result[i]) > len(result[j])):
      result[i], result[j] = result[j], result[i]

for i in sorted(set(result), key=result.index):
  print(i)

leopard
orangutan

# 6.6. Создание потомства

In [ ]:
with open("input.txt", "w") as f:
  f.write("0042 cat male Pushok 13.09.2015 31.12.2016\n0043 dog female Dora 29.01.2015 31.12.2016\n0003 elephant male Archi 03.03.2011 31.12.2016\n0003 elephant female Archi 03.03.2011 31.12.2016\n0003 cat female Archi 03.03.2011 31.12.2016")

In [ ]:
lines, result, dic = [], [], dict()
with open("input.txt", "r") as f:
  for line in f:
    lines.append(line.rstrip())
for i in lines:
  string = i.split()
  dic.setdefault(string[1], []).append(string[2])

keys, vals = list(dic.keys()), list(dic.values())
for i in range(len(vals)):
  if "male" in vals[i] and "female" in vals[i]:
    result.append(keys[i])

if len(result):
  for i in sorted(set(result), key=len):
    print(i)
else:
  print(0)

cat
elephant

# 6.7. Наиболее часто встречающееся животное

In [ ]:
with open("input.txt", "w") as f:
  f.write("0042 cat male Pushok 13.09.2015 31.12.2016\n0043 dog female Dora 29.01.2015 31.12.2016\n0003 dog male Max 03.03.2011 31.12.2016")

In [ ]:
lines = []
dic = {}
with open("input.txt", "r") as f:
  for line in f:
    lines.append(line.rstrip())

for i in lines:
  string = i.split()
  dic.setdefault(string[1], []).append(1)

keys = list(dic.keys())
vals = list(dic.values())

for i in range(len(vals)):
  for j in range(i, len(vals)):
    if len(vals[j]) > len(vals[i]):
      vals[i], vals[j] = vals[j], vals[i]
      keys[i], keys[j] = keys[j], keys[i]

for i in range(len(keys)):
  print(keys[i], "-", len(vals[i]))

dog - 2
cat - 1

# 6.8. ID животных*

In [ ]:
with open("input.txt", "w") as f:
  f.write("0042 lion male Pushok 13.09.2015 31.12.2016\n0043 dog female Dora 29.01.2015 31.12.2016\n0003 lion male Max 03.03.2011 31.12.2016\n0003 lion")

In [ ]:
lines, dic = [], {}
with open("input.txt", "r") as f:
  for line in f:
    lines.append(line.rstrip())
for i in lines:
  string = i.split()
  dic.setdefault(string[1], []).append(string[0])
keys = list(dic.keys())
vals = list(dic.values())

for i in range(len(vals)):
  for j in range(i, len(vals)):
    if len(vals[j]) > len(vals[i]):
      vals[i], vals[j] = vals[j], vals[i]
      keys[i], keys[j] = keys[j], keys[i]

#keys = sorted(set(keys), key=len)
for i in range(len(keys)):
  for j in range(i, len(keys)):
    if len(keys[i]) > len(keys[j]):
      vals[i], vals[j] = vals[j], vals[i]
      keys[i], keys[j] = keys[j], keys[i]

for i in range(len(keys)):
  q = sorted(vals[i])
  string = ""
  for j in range(len(q)):
    string += q[j]
    if j+1!=len(q):
      string+=", "
  print(f"{keys[i]}: {string}")

dog: 0043
lion: 0003, 0003, 0042

# MATH2: Минимальное сингулярное значение

In [ ]:
from scipy.sparse.linalg import svds

from numpy.linalg import svd
from scipy.sparse import csc_matrix
import numpy as np

a = np.array([[0, 1, 0], [1, 0, 1], [0, 1, 0]])
u, s, vh = np.linalg.svd(a, full_matrices=True)
print(u)
print(s)

A = csc_matrix([[0, 1, 0], [1, 0, 1], [0, 1, 0]], dtype=float)
#print(A)
u, s, vt = svds(A, k=2)

print(u)
print(s)

[[ 0.70710678  0.          0.70710678]
 [ 0.         -1.          0.        ]
 [ 0.70710678  0.         -0.70710678]]
[ 1.41421356  1.41421356 -0.        ]
[[-0.55269706 -0.44105097]
 [-0.62374026  0.78163168]
 [-0.55269706 -0.44105097]]
[1.41421356 1.41421356]

# Лекция 7. Библиотеки Matplotlib и Numpy

# 7. 3. Underflow Error

In [ ]:
print(1e-12 + 1e-27)
print(1e-13 + 1e-29)
print(1e-14 + 1e-30)

1.000000000000001e-12
1.0000000000000002e-13
1.0000000000000002e-14

# 7.4. Управление пекарней

In [ ]:
#f(day)=e^(sin(day/100)⋅day/10)*20
import math
def f(day):
  ret_val = math.exp(math.sin(day/100)*day/10)*20
  return int(ret_val)

print(f(18))

27

# 7.5. Битва при Азенкуре

In [ ]:
with open("input.txt", "w") as f:
  f.write("1410 1411 1412 1413 1414 1415 1416")

In [ ]:
import numpy as np
lines = []
with open("input.txt", "r") as f:
  for l in f:
    lines.append(l.rstrip())
l = lines[0].split()
for i in range(len(l)):
  l[i] = int(l[i])

'''
def binarySearch (arr, l, r, x):
    if r >= l:
        mid = l + (r - l) // 2
        if arr[mid] == x:
            return mid
        elif arr[mid] > x:
            return binarySearch(arr, l, mid-1, x)
        else:
            return binarySearch(arr, mid + 1, r, x)
    else:
        return -1

binarySearch(l, 0, len(l)-1, 1415)
'''

print(np.searchsorted(l, 1415))

5

# 7.6. Менеджмент

In [ ]:
with open("input.txt", "w") as f:
  f.write("10\n50\n5")

In [ ]:
import numpy as np
lines = []
with open("input.txt", "r") as f:
  for l in f:
    lines.append(l.rstrip())

productivity = np.linspace(int(lines[0]),int(lines[1]),int(lines[2]))
for i in range(len(productivity)):
  monday = False if i%7!=0 else True
  friday = True if i%7==4 else False
  if monday:
    productivity[i] /= 3
  if friday:
    productivity[i] *= 2
#print(productivity)
with open("output.txt", "w") as f:
  for i in productivity:
    print(f"{i:.2f}")
    print(f"{i:.2f}",file=f)

3.33
20.00
30.00
40.00
100.00

# Лекция 8. Работа с библиотекой NumPy

# 8.1. Немного статистики

In [ ]:
with open("input.txt", "w") as f:
  l = [i for i in range(1000,1011)]
  for i in range(len(l)):
    f.write(str(l[i])+" ")

In [ ]:
import numpy as np

with open("input.txt", "r") as f:
  a = f.read()
#print(a)
l = a.split()
#print(l)
l = np.array(l, dtype=int)
with open("output.txt", "w") as f:
  print(f"{np.median(l):.2f} {np.mean(l):.2f} {np.std(l):.2f}", file=f)

# 8.2. Мода

In [ ]:
with open("input.csv", "w") as f:
  f.write("14,17,27\n47,22,76\n96,61,39\n11,16,12\n94,70,82\n47,43,81\n19,36,42\n13,50,41\n91,25,40\n36,22,12")

In [ ]:
import numpy as np
txt_data = np.genfromtxt('input.csv',delimiter=',')
c_sums = txt_data.sum(axis=0)
#print(c_sums)
print(np.argmax(c_sums)+1)

[468. 362. 452.]
1

# 8.3. Две чугунные гири

In [ ]:
with open("input.csv", "w") as f:
  f.write("5,9,8,6,7,5,7,8,9,6,8,8,9,7,6,7,7,7,5,6,8,5,7,6,6,6,6,7,5,7,7,9,5,6,5\n9,5,5,7,5,7,6,7,6,7,7,8,6,5,8,9,9,6,7,5,6,8,9,9,5,5,7,8,7,5,6,7,5,6,5\n18,10,12,10,19,17,11,11,12,20,23,14,10,21,13,24,22,9,11,20,14,18,14,7,7,11,19,21,8,20,17,12,7,17,8")

In [ ]:
import numpy as np
txt_data = np.genfromtxt('input.csv',delimiter=',')
stds = txt_data.std(axis=1)
#print(stds)
tip = [0,0]
for i in stds:
  if(i > 4):
    tip[1]+=1
  else:
    tip[0]+=1
tip = np.array(tip)
print(np.argmax(tip)+1)

1

# 8.4. Очистка логов

четным числам нечетных месяцев, нечетным числам в четные месяцы

In [ ]:
t = np.ones(shape=(30,12), dtype=float)
t*=3
np.savetxt('input.csv', t, delimiter = ',')

In [ ]:
import numpy as np
txt_data = np.genfromtxt('input.csv',delimiter=',')
#print(txt_data)
txt_data = txt_data.transpose()
zeroscol = np.zeros(shape=(12))
zerosrow = np.zeros(shape=(31))
txt_data = np.insert(txt_data,0, zeroscol, axis=1)
txt_data = np.insert(txt_data,0, zerosrow, axis=0)
for i in range(len(txt_data)):
    for j in range(len(txt_data[i])):
      if i%2:
        if j%2==0:
          txt_data[i][j] = txt_data[i][j] / 2
      else:
        if j%2==1:
          txt_data[i][j] = txt_data[i][j] / 2
txt_data = txt_data[~np.all(txt_data == 0, axis=1)]
txt_data = txt_data[:,1:]
txt_data = txt_data.T
#print(txt_data)
np.savetxt('output.csv', txt_data, delimiter = ',', fmt="%g")

# 8.5. Дуэльный клуб

In [ ]:
with open("input.csv", "w") as f:
  f.write("22,28,33,17,21,33,27,34,27,31,16,16,25,34,21,17,30,21,31,20,15,19,32,23,20,16,16,23,19,21,22,31,33,30,30\n21,22,32,22,34,31,25,28,29,26,20,21,31,25,34,17,27,34,16,17,19,21,17,32,23,15,21,19,26,19,18,19,18,29,33  \n30,28,20,32,21,23,29,28,24,24,19,20,29,26,28,27,17,31,18,15,15,21,22,18,22,23,25,30,28,19,19,30,18,31,17\n26,20,27,28,17,26,21,25,23,26,19,27,17,24,30,21,24,27,20,27,21,16,23,33,31,20,18,29,30,28,22,29,16,16,17\n32,34,30,25,30,28,21,25,22,28,15,16,16,19,17,31,30,34,34,29,23,16,34,26,19,20,33,29,23,15,32,27,15,24,26\n34,17,15,31,23,21,34,34,33,20,19,22,18,33,17,15,25,18,25,27,34,32,26,29,15,33,25,27,16,18,29,32,34,20,29\n33,32,29,22,33,17,30,29,30,22,27,24,22,30,32,22,25,33,28,27,32,25,32,18,22,32,16,24,20,22,24,30,24,19,24\n17,21,22,28,15,28,31,19,22,24,20,15,17,24,23,18,19,16,24,33,24,28,28,22,33,20,28,28,26,34,28,34,15,34,27\n30,29,28,34,25,18,15,31,31,18,23,25,25,27,15,22,23,31,25,20,16,22,30,19,15,31,26,16,24,18,20,15,19,34,30\n25,33,33,15,17,25,21,31,32,32,29,21,19,26,20,17,30,21,17,31,34,31,30,26,19,15,22,19,19,29,22,25,31,23,19\n25,19,17,28,27,29,25,30,30,28,16,15,33,18,25,25,29,20,30,23,16,32,31,17,15,21,29,30,20,18,31,27,24,33,28\n16,25,17,22,24,19,34,18,25,24,32,31,22,17,29,16,16,18,15,28,23,25,22,27,23,17,27,19,18,31,28,34,15,25,34\n32,26,31,21,16,16,25,19,18,28,18,33,20,31,28,24,31,18,25,34,16,20,26,26,29,22,34,34,30,16,33,17,31,26,31\n29,32,26,32,22,18,31,27,18,32,25,15,23,15,18,24,21,26,22,18,19,18,28,27,17,25,26,26,27,26,26,32,18,28,30\n28,28,15,22,32,25,15,17,26,28,30,24,17,22,24,19,16,21,22,15,26,27,30,32,29,15,23,28,33,17,29,15,25,18,31")

In [ ]:
import numpy as np
h=np.genfromtxt('input.csv', delimiter=',')
for i in range(len(h[0,])):
  h[0,i]=np.floor(np.mean(h[:,i])*1.5)
np.savetxt('output.csv',h,delimiter=',',fmt='%g')

# 9.1. Железная логика

In [ ]:
for x1 in False, True:
    for x2 in False, True:
        for x3 in False, True:
            if ((not x1) and x2 and (not x3)) or ((not x1) and x2 and x3) or (x1 and (not x2) and (not x3)) == True:
              print("{} {} {}".format(x1, x2, x3))

False True False
False True True
True False False

# 9.2. Электрик Станислав и интернет-казино

In [ ]:
with open("input.csv", "w") as f:
  f.write("Вишенка,Бабочка,Кабачок\n97.84034494908083,-173.34106120704837,-188.34056227449344\n30.346779261014778,92.84266437081399,176.5771839698425\n-20.927535597697414,-225.06001703450355,9.906538395106026")

In [ ]:
import numpy as np
with open("input.csv", "r") as f:
  names = f.readline() 
data = np.genfromtxt("input.csv", delimiter=",")[1:,]
names = names.split(",")
names[len(names)-1] = names[len(names)-1][0:-1]
#print(data)
means = []
for i in range(len(data[0,])):
  means.append(np.mean(data[:,i]))
means = np.array(means)
print(names[means.argmax()])

Вишенка

# 9.3. Инвестор Генадий и новый Мерседес

In [ ]:
with open("input.csv", "w") as f:
  f.write("Газбанк,Сберпром,Мыло.ру\n1095238,1656163,2746738\n1103245,1644220,2731470\n1116010,1647492,2755662")

In [ ]:
import numpy as np
with open("input.csv", "r") as f:
  names = f.readline() 
data = np.genfromtxt("input.csv", delimiter=",")[1:,]
names = names.split(",")
names[len(names)-1] = names[len(names)-1][0:-1]
#print(data)
sums = []
for i in range(len(data[0,])):
  sums.append(np.sum(data[:,i]))
sums = np.array(sums)
#print(sums)
#print(sums.sum())
if sums.sum() > 8000000:
  print("1", end=" ")
else:
  print("0", end=" ")
print(names[sums.argmax()])

1 Мыло.ру

# 9.4. Однажды на заводе

In [ ]:
with open("input.csv", "w") as f:
  f.write("Петр,Иван,Елисей,Потап,Евгений,Сергей\n88,268,253,564,281,861\n208,156,138,604,48,759\n255,329,262,553,147,773")

In [ ]:
import numpy as np
with open("input.csv", "r") as f:
  names = f.readline() 
data = np.genfromtxt("input.csv", delimiter=",")[1:,]
names = names.split(",")
names[len(names)-1] = names[len(names)-1][0:-1]
#print(data)
sums = []
for i in range(len(data[0,])):
  sums.append(np.sum(data[:,i]))
sums = np.array(sums)
meansum = np.mean(sums)

res = []
for i in range(len(data[0,])):
  k = []
  s = 0
  for j in range(len(data[:,])):
    s += data[j,i]
    if s>meansum:
      res.append([i, j+1])
      break
#print(res)
for i in res:
  print(names[i[0]], i[1])

Потап 2
Сергей 2

# 9.5. Ошибка выжившего

In [ ]:
with open("input.csv", "w") as f:
  f.write("5,21,0,49,43,10,34,9,14,7\n5,26,2,23,49,9,33,53,6,8\n10,19,3,49,51,16,32,15,7,58\n10,23,1,21,44,13,32,43,7,65\n14,25,3,45,40,7,34,25,12,14\n8,24,0,45,53,20,32,28,17,43\n13,17,0,32,38,18,35,9,15,9\n7,20,3,32,41,16,32,31,20,15\n9,16,1,42,51,9,33,50,11,50\n9,28,1,29,47,18,35,6,10,11\n10,25,0,38,35,15,35,50,16,39\n8,17,3,41,54,14,33,50,18,22\n7,23,1,39,45,9,32,16,12,40\n14,21,2,21,48,7,35,18,7,16\n10,25,1,49,40,5,34,54,16,36")

In [ ]:
import numpy as np
data = np.genfromtxt("input.csv", delimiter=",")
nd = []
for i in range(len(data[0,])):
  nd.append(np.mean(data[:,i]))
nd = np.array(nd)
print(nd.argmin()+1)

3